.app-wrapper {
  padding: 10px;
}

.print-page-container {
  width: 121mm;
  height: 98mm;
  border-radius: 10px;
  border: 1px solid rgb(240, 194, 197);
  margin-bottom: 20px;
}

.header-wrapper {
  margin: 1mm;
  height: 8mm;
  width: 98%;
  border-top: 3px solid rgb(82, 160, 227);
  border-left: 3px solid rgb(82, 160, 227);
  border-bottom: 2px solid rgb(82, 160, 227);
  display: flex;
  align-items: center;
}

.invoice-title {
  color: rgb(82, 160, 227);
  font-size: 10px;
  font-weight: bold;
  margin-left: 1px;
}

.barcode-wrapper {
  width: 98%;
  height: 15mm;
}
