.app-wrapper {
  padding: 10px;
}

.print-page-container {
  width: 121mm;
  height: 102mm;
  border-radius: 10px;
  border: 1px solid rgb(240, 194, 197);
  margin-bottom: 20px;
  overflow: hidden;
}

.header-wrapper {
  margin: 1mm;
  height: 8mm;
  width: 98%;
  border-top: 3px solid rgb(82, 160, 227);
  border-left: 3px solid rgb(82, 160, 227);
  border-bottom: 2px solid rgb(82, 160, 227);
  display: flex;
  align-items: center;
}

.invoice-title {
  color: rgb(82, 160, 227);
  font-size: 10px;
  font-weight: bold;
  margin-left: 1px;
  margin-right: 25px;
}
.invoice-text {
  font-size: 12px;
  font-weight: bold;
  margin-right: 30px;
}

.order-date-text {
  font-size: 8px;
  font-weight: bold;
  margin-right: 40px;
}
.print-page-text {
  font-size: 8px;
  font-weight: bold;
  margin-right: 40px;
}

.reprint-text {
  font-size: 8px;
  font-weight: bold;
  margin-right: 5px;
}

.invoice-wrapper {
  display: flex;
  height: 15mm;
}

.barcode-wrapper {
  width: 30mm;
  height: 15mm;
  margin-left: 5mm;
}

.division-code-text {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}

.delivery-code-text {
  font-size: 53px;
  font-weight: bold;
  background-color: rgb(253, 242, 80);
}

.address-wrapper {
  height: 20mm;
  display: flex;
  margin-top: 2px;
}

.address-title {
  width: 5mm;
  color: #fff;
  font-size: 16px;
  background-color: rgb(82, 160, 227);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-left: 1mm;
}

.address-content-wrapper {
  background-color: rgb(253, 242, 80);
  width: calc(100% - 5mm);
  box-sizing: border-box;
  padding-left: 1mm;
}

.address-content-sub {
  height: 5mm;
  display: flex;
}
.address-content-sub-text {
  font-size: 10px;
  font-weight: bold;
  margin-right: 15px;
}
.address-content-phone-number-text {
  font-size: 10px;
  font-weight: bold;
}
.address-content-sub-bar {
  margin: 0 6px;
  font-size: 10px;
  font-weight: bold;
}
.invoice-barcode-wrapper {
  width: 38mm;
}

.address-content-main {
  font-size: 9px;
  font-weight: bold;
}

.address-content-detail {
  font-size: 24px;
  font-weight: bold;
}

.sender-wrapper {
  height: 7mm;
  display: flex;
}
.sender-name-title {
  width: 5mm;
  color: #fff;
  font-size: 10px;
  background-color: rgb(82, 160, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-left: 1mm;
  margin-right: 20px;
}
.sender-info-wrapper {
  display: flex;
  flex-direction: column;
}

.sender-info-main {
  display: flex;
}

.sender-name-text {
  font-weight: bold;
  font-size: 7px;
  margin-right: 50px;
}

.sender-phone-number-text {
  font-weight: bold;
  font-size: 7px;
  margin-right: 20px;
}

.box-info-title {
  color: #fff;
  font-size: 10px;
  background-color: rgb(82, 160, 227);
  padding: 0 2px;
  margin-right: 10px;
}

.box-info-text {
  font-weight: bold;
  font-size: 10px;
  margin-right: 25px;
}

.fare-title {
  color: #fff;
  font-size: 10px;
  background-color: rgb(82, 160, 227);
  padding: 0 2px;
  margin-right: 10px;
}

.fare-text {
  font-weight: bold;
  font-size: 10px;
  margin-right: 25px;
}

.fare-info-title {
  color: #fff;
  font-size: 10px;
  background-color: rgb(82, 160, 227);
  padding: 0 2px;
  margin-right: 10px;
}

.fare-info-text {
  font-weight: bold;
  font-size: 10px;
}

.sender-info-address-text {
  font-weight: bold;
  font-size: 8px;
}

.product-name-wrapper {
  height: 33mm;
  box-sizing: border-box;
  padding: 2px 0 0 10px;
  display: flex;
  flex-direction: column;
}
.product-name-text {
  font-weight: bold;
  font-size: 9px;
}

.footer {
  height: 15mm;
  display: flex;
}

.delivery-info-wrapper {
  background-color: rgb(253, 242, 80);
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.delivery-address-text {
  font-weight: bold;
  font-size: 10px;
}

.delivery-message-text {
  font-weight: bold;
  font-size: 8px;
}

.delivery-detail-wrapper {
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
}

.delivery-short-text {
  font-weight: bold;
  font-size: 12px;
  margin-right: 10px;
}

.delivery-detail-fare-title {
  color: #fff;
  font-size: 10px;
  background-color: rgb(82, 160, 227);
  padding: 0 2px;
  margin-right: 20px;
}

.delivery-detail-fare-text {
  font-weight: bold;
  font-size: 10px;
  margin-right: 20px;
}

.delivery-detail-fare-info-title {
  color: #fff;
  font-size: 10px;
  background-color: rgb(82, 160, 227);
  padding: 0 2px;
  margin-right: 20px;
}

.delivery-detail-fare-info-text {
  font-weight: bold;
  font-size: 10px;
}

.delivery-barcode-wrapper {
  margin-left: 20px;
}
